services:
  rabbitmq:
    image: rabbitmq:3-management
    ports: ["5672:5672", "15672:15672"]

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: swifttrack
    ports: ["5432:5432"]

  mock-ros:
    build: ./services/mock-ros-rest
    ports: ["8001:8000"]

  mock-wms:
    build: ./services/mock-wms-tcp
    ports: ["9000:9000"]

  mock-cms:
    build: ./services/mock-cms-soap
    ports: ["8002:8000"]

  orchestrator:
    build: ./services/orchestrator
    environment:
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
      POSTGRES_DSN: postgresql://postgres:postgres@postgres:5432/swifttrack
      CMS_URL: http://mock-cms:8000/soap
      ROS_URL: http://mock-ros:8000
      WMS_HOST: mock-wms
      WMS_PORT: 9000
    depends_on: [rabbitmq, postgres, mock-ros, mock-wms, mock-cms]

  api-gateway:
    build: ./services/api-gateway
    ports: ["8000:8000"]
    environment:
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
      POSTGRES_DSN: postgresql://postgres:postgres@postgres:5432/swifttrack
    depends_on: [rabbitmq, postgres]

  ui:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./ui-client:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway